{% extends 'base.html' %}

{% block title %}상세정보 - {{ content.title }}{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."/>
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">{{ content.title }}</h1>
        <p>{{ content.content }}</p>
        <a class="btn btn-primary" href="{% url 'home' %}">돌아가기</a>
    </div>
</div>
{% endblock %}
